.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.Slider {
    width: 100px;
    margin-right: 24px;
    position: relative;
    margin-bottom: 48px;

    & > input {
        width: 100%;
        -webkit-appearance: none; /* Hides the slider so that custom slider can be made */

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 48px;
            width: 36px;
            cursor: pointer;
            margin-top: -14px;
        }

        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 4px;
            cursor: pointer;

            background: black;
        }
    }

    & > svg {
        position: absolute;
        z-index: 1000;
        top: 10px;

        pointer-events: none;

        fill: yellow;
        stroke: black;
        stroke-width: 2px;
        width: 48px;
    }
}

.ticks {
    pointer-events: none;
    top: 0;
    width: 100%;
    height: 24px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div:first-child,
    & > div:last-child {
        width: 3px;
        height: 100%;
    }

    & > div {
        width: 1px;
        height: 70%;
        background-color: black;
    }
}

.points {
    height: 40px;
    border: 1px solid black;
    display: flex;

    & > div {
        width: 40px;
        height: 100%;
    }

    & > .red {
        background-color: red;
    }
    & > .black {
        background-color: black;
    }
    & > .blue {
        background-color: blue;
    }
    & > .green {
        background-color: green;
    }
}

.treatment {
    display: flex;

    width: 90%;
    position: relative;
    margin-bottom: 8px;

    & > label {
        position: absolute;
        top: -20px;
    }
}
