* {
    margin: 0;
    padding: 0;

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.Slider {
    width: 200px;
    margin-right: 24px;
    position: relative;
    margin-bottom: 48px;

    & > input {
        width: 100%;
        -webkit-appearance: none; /* Hides the slider so that custom slider can be made */

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 48px;
            width: 36px;
            cursor: pointer;
            margin-top: -14px;
        }

        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 4px;
            cursor: pointer;

            background: black;
        }
    }

    & > svg {
        position: absolute;
        z-index: 1000;
        top: 10px;

        pointer-events: none;

        fill: yellow;
        stroke: black;
        stroke-width: 2px;
        width: 48px;

        user-select: none;
    }

    & > .ticks {
        pointer-events: none;
        top: 0;
        width: 100%;
        height: 24px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > div:first-child,
        & > div:last-child {
            width: 3px;
            height: 100%;
        }

        & > div {
            width: 1px;
            height: 70%;
            background-color: black;
        }
    }
}

.points {
    height: 40px;
    border: 1px solid black;
    display: flex;

    & > div {
        width: 40px;
        height: 100%;
    }

    & > .red {
        background-color: red;
    }
    & > .black {
        background-color: black;
    }
    & > .blue {
        background-color: blue;
    }
    & > .green {
        background-color: green;
    }
}

.Option {
    display: flex;

    width: 90%;
    position: relative;
    margin-bottom: 8px;

    & > label {
        position: absolute;
        top: -20px;
    }

    & > .Tons,
    .PPU {
        width: 48px;
        height: 56px;
        position: relative;
        margin-right: 32px;
        font-size: 20px;

        &.PPU {
            position: absolute;
            right: 0;
        }

        & > .green {
            color: green;
            position: absolute;
            top: 0;
            left: 0;
        }

        & > .blue {
            color: blue;
            position: absolute;
            top: 0;
            right: 0;
        }

        & > .red {
            color: red;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        & > .black {
            color: black;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

.ProgressBar {
    height: 200px;
    border: 1px solid black;
    width: 100px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 24px;

    position: relative;

    &.horizontal {
        height: 24px;
        width: 200px;

        & > div {
            height: 24px;
        }
    }

    & > div {
        background-color: green;
    }

    & > .value {
        position: absolute;
        top: calc(50% - 8px);
        width: 100%;
        text-align: center;
        z-index: 1000;
    }

    & > .max {
        position: absolute;
        top: 0;
        right: -96px;
        width: 90px;
    }

    & > .label {
        position: absolute;
        top: 0;
        text-align: center;
        z-index: 100;
    }
}

#Top {
    display: flex;
    margin-bottom: 24px;

    & > #Weights {
        width: 300px;
    }

    & > #Scores {
        display: flex;
        padding: 24px;

        & > #Total {
            margin-left: 24px;
        }

        & > #Breakdown {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 8px;

            & > span {
                border: 1px solid black;
                display: inline-block;
                width: 40px;
                height: 24px;
                text-align: center;
            }
        }
    }
}
