* {
    margin: 0;
    padding: 0;

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

:root {
    --green: rgb(47, 132, 55);
    --blue: rgb(26, 26, 164);
    --red: rgb(176, 27, 27);
    --black: black;

    --border-thin: 1px solid var(--black);
    --border-thick: 2px solid var(--black);

    --small: 16px;
    --medium: 32px;
    --large: 64px;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

select {
    height: var(--medium);
}

.Slider {
    width: 200px;
    margin-right: var(--medium);
    position: relative;
    margin-bottom: var(--large);

    & > input {
        width: 100%;
        -webkit-appearance: none; /* Hides the slider so that custom slider can be made */

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 48px;
            width: 36px;
            cursor: pointer;
            margin-top: -14px;
        }

        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 4px;
            cursor: pointer;

            background: var(--black);
        }
    }

    & > svg {
        position: absolute;
        z-index: 1000;
        top: 10px;

        pointer-events: none;

        fill: yellow;
        stroke: black;
        stroke-width: 2px;
        width: 48px;

        user-select: none;
    }

    & > .ticks {
        pointer-events: none;
        top: 0;
        width: 100%;
        height: 24px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > div:first-child,
        & > div:last-child {
            width: 3px;
            height: 100%;
        }

        & > div {
            width: 1px;
            height: 70%;
            background-color: black;
        }
    }

    & > .min {
        position: absolute;
        bottom: -36px;
        left: 0;
    }

    & > .max {
        position: absolute;
        bottom: -36px;
        right: 0;
    }
}

.PointBar {
    height: var(--medium);
    border: var(--border-thick);
    display: flex;
    position: relative;

    & > .red {
        background-color: var(--red);
    }
    & > .black {
        background-color: var(--black);
    }
    & > .blue {
        background-color: var(--blue);
    }
    & > .green {
        background-color: var(--green);
    }

    & > .ticks {
        pointer-events: none;
        width: 100%;
        margin-left: -2px;
        height: 6px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        & > div {
            width: 12px;
            height: 100%;
            border-left: --border-thin;
        }
    }

    & > .min {
        position: absolute;
        bottom: -20px;
        left: 0;
    }

    & > .max {
        position: absolute;
        bottom: -20px;
        right: 0;
    }

    & > .value {
        position: absolute;
        right: -56px;
        width: 48px;
    }
}

.Option {
    display: flex;

    width: 80%;
    position: relative;
    margin-bottom: 8px;

    & > label {
        position: absolute;
        top: -20px;
    }

    & > .Tons,
    .PPU {
        position: relative;
        margin-right: 32px;
        font-size: 24px;
        border: var(--border-thin);

        display: grid;
        grid-template-columns: auto auto;
        column-gap: 4px;

        &.PPU {
            position: absolute;
            right: 0;
        }

        & > p {
            text-align: center;
            margin: auto;
        }

        & > .green {
            color: var(--green);
        }

        & > .blue {
            color: var(--blue);
        }

        & > .red {
            color: var(--red);
        }

        & > .black {
            color: var(--black);
        }
    }
}

.ProgressBar {
    height: 200px;
    border: var(--border-thin);
    width: 100px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 24px;

    position: relative;

    &.horizontal {
        height: var(--medium);
        width: 200px;

        & > div {
            height: var(--medium);
        }
    }

    & > div {
        background-color: var(--green);
    }

    & > .value {
        position: absolute;
        top: calc(50% - 8px);
        width: 100%;
        text-align: center;
        z-index: 1000;
    }

    & > .max {
        position: absolute;
        top: 0;
        right: -96px;
        width: 90px;
    }

    & > .label {
        position: absolute;
        top: 0;
        text-align: center;
        z-index: 100;
    }
}

#Top {
    display: flex;
    margin-bottom: 24px;

    & > #Weights {
        width: 300px;
    }

    & > #Scores {
        display: flex;
        padding: 24px;

        & > #Total {
            margin-left: 24px;
        }

        & > #Breakdown {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 8px;

            & > span {
                border: var(--border-thin);
                display: inline-block;
                width: 40px;
                height: 24px;
                text-align: center;
            }
        }
    }
}
